@import "tailwindcss";


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f0e4cf;
}

::-webkit-scrollbar-thumb {
  background: #3f3328;
  border-radius: 3px;
  border: 1px solid #2a1f14;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: #2a1f14;
  border-color: #1a0f04;
}

body {
  font-family: var(--font-noto-sans-bengali), sans-serif;
}

/* QR Scanner Moving Line */
@keyframes qrScannerMove {
  0% {
    transform: translateY(-80px);
  }

  50% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(-80px);
  }
}